# Ignore IDE/hidden/OS cache files
.*
*~

# environment files
.env
*.env

# Keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml
!/.env.dist

# Composer
vendor/*
!vendor/.gitkeep

# temporary files
/var/*

# external templates
/resources/templates/*

# storage
/storage
